@font-face {
    font-family: 'kufi-arabic';
    src: url('/NotoKufiArabic-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow: hidden auto;
    scroll-behavior: smooth;
    background: rgb(245, 244, 244);
    font-family:'Montserrat' , 'kufi-arabic';
    user-select: none;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #e8505b;
}
header{
    width: 100%;
    position: relative;
    background: #303960;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #040a25;
    z-index: 100;
}
header div{
    width: 50% !important;
}
header a{
    color: white;
    text-decoration: none;
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 10px;
    vertical-align: middle;
}
.reg button{
    padding: 5px 10px;
    border-radius: 4px;
    background: #e8505b;
    color: white;
    font-family: 'kufi-arabic';
    border: none; 
    float: right;
    margin: 5px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.controls-page-mood{
    position: fixed;
    top: 40%;
    left: 0;
    background: grey;
    width: 150px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background: #303960;
    display: none;

}
.controls-page-mood input{
    display: none;
}
.controls-page-mood label{
    width: 30%;
    height: 20px;
    background: #fff;
    border-radius: 100px;
    display: block;
    position: relative;
}
.controls-page-mood label span{
    width: 50%;
    height: 90%;
    border-radius: 100px;
    background: #303960;
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
    cursor: pointer;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.controls-page-mood input:checked ~ label span{
    left: 20px;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.box{
    width: 90%;
    height: auto;
    background: white;
    border-radius: 10px;
    padding: 10px 0;
    display:block;
    margin: 10px auto;
    position: relative;
}
.box:last-child{
    height: auto;
}
.user-img{
    width: 150px;
    height: 200px;
    display:flex;
    margin: 10px auto;
    align-items: center;
}
.img{
    width: 125px;
    height: 125px;
    margin: 10px auto;
    border-radius: 100px;  
    position: relative;
}
.img img{
    width: 94%;
    height: 94%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    transform: scale(0.95);
}
.user-img p{
    text-align: center;
    padding: 10px;
    font-size: 17px;
}
.img svg{
    position: relative;
    z-index: 1;
}
.img svg circle:first-child{
    stroke:#f2f2f2;
    stroke-width: 2px;
    fill: none;
}
.img svg circle:last-child{
    stroke:#e8505b;
    stroke-width: 2px;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 50;
}
.content{
    width: 100%;
    height: auto;
    margin-top: -25px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content ul{
    width: 500px;
    text-align: center;
}
.content ul li{
    list-style: none;
    padding: 5px 10px;
    font-size: 17px;
}
.content ul li:nth-child(2){
    word-break: break-all;
}
.content ul li svg{
    width: 15px;
    margin: 0 2px;
    vertical-align: middle;
}
.box h1{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}
.itmes{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.msg-box{
    width: 90%;
}
.msg{
    width: 32%;
    height: 300px;
    border-radius: 10px;
    position: relative;
    background: #e8505b;
    display: inline-block;
    margin: 5px;
    overflow: hidden;
}
.msg-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg-content p{
    color: white;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
}
.btn-bar{
    background: none !important;
    outline: none;
    cursor: pointer;
    float: right;
    margin: 10px;
}
.reg input{display: none;}
.btn-bar span{
    width: 30px;
    height: 4px;
    border-radius: 100px;
    background: #f2f2f2;
    display: block;
    margin: 5px auto;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.reg input:checked~ label{
    position: fixed !important;
    top: 0;
    right: 0;
    margin: 25px  10px !important;
}
.reg input:checked~ label span:first-child{
    transform: rotate(45deg);
}
.reg input:checked~ label span:nth-child(2){
    width: 0;
}
.reg input:checked~ label span:nth-child(3){
    transform: rotate(-45deg) !important;
    margin-top: -17px;
}
.settings{
    position: fixed;
    right: 0;
    height: 100%;
    width: 250px !important;
    background: #303960;
    padding: 10px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    z-index: -1;
    transform: translateX(350px);
}
.settings ul li{
    list-style: none;
    text-align: right;
    padding: 5px 10px;
    color: white;
}
.settings ul li ul li{
    text-align: left;
    padding: 0;
}
.reg input:checked~ .settings{
    transform: none;
}
.create-new-message{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #3039605e;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.popup{
    width: 450px;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    animation: trans 1s;
    -webkit-animation: trans 1s;
    -moz-animation: trans 1s;
    -ms-animation: trans 1s;
    -o-animation: trans 1s;
}
@keyframes trans{
    from{
        transform: translate(-25% , -50%);
        -webkit-transform: translate(-25% , -50%);
        -moz-transform: translate(-25% , -50%);
        -ms-transform: translate(-25% , -50%);
        -o-transform: translate(-25% , -50%);
        opacity: 0;
    }
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        opacity: 1;
    }
}
@-webkit-keyframes trans{
    from{
        transform: translate(-25% , -50%);
        -webkit-transform: translate(-25% , -50%);
        -moz-transform: translate(-25% , -50%);
        -ms-transform: translate(-25% , -50%);
        -o-transform: translate(-25% , -50%);
        opacity: 0;
    }
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        opacity: 1;
    }
}
@-moz-keyframes trans{
    from{
        transform: translate(-25% , -50%);
        -webkit-transform: translate(-25% , -50%);
        -moz-transform: translate(-25% , -50%);
        -ms-transform: translate(-25% , -50%);
        -o-transform: translate(-25% , -50%);
        opacity: 0;
    }
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        opacity: 1;
    }
}
@-ms-keyframes trans{
    from{
        transform: translate(-25% , -50%);
        -webkit-transform: translate(-25% , -50%);
        -moz-transform: translate(-25% , -50%);
        -ms-transform: translate(-25% , -50%);
        -o-transform: translate(-25% , -50%);
        opacity: 0;
    }
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        opacity: 1;
    }
}
@-o-keyframes trans{
    from{
        transform: translate(-25% , -50%);
        -webkit-transform: translate(-25% , -50%);
        -moz-transform: translate(-25% , -50%);
        -ms-transform: translate(-25% , -50%);
        -o-transform: translate(-25% , -50%);
        opacity: 0;
    }
    to{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        opacity: 1;
    }
}
.group-form{
    width: 95%;
    display: block;
    margin: 10px auto;
    /* background: grey; */
    position: relative;
    direction: rtl;
}
.btn-copy{
    padding: 5px 10px;
    border-radius: 4px;
    width: 50%;
    background: #303960;
    color: white;
    font-family: 'kufi-arabic';
    border: none; 
    margin: 5px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    display: block;
    margin: 10px auto;outline: none;
    cursor: pointer;
}
.group-form input{
    display: block;
    font-family: 'kufi-arabic';
    padding: 10px;
    width: 95%;
    border: none;
    outline: none;
    background: #e8ebfa;
    border-radius: 5px;
    margin: auto;
}
.group-form label{
    padding: 5px !important;
    text-align: right !important;
}
.group-form textarea{
    display: block;
    margin: auto;
    font-family: 'kufi-arabic';
    padding: 10px;
    width: 95%;
    height: 150px;
    border: none;
    outline: none;
    background: #e8ebfa;
    border-radius: 5px;
    resize: none;
}
.btn-submit{
    padding: 5px 10px;
    border-radius: 4px;
    width: 50%;
    background: #303960;
    color: white;
    font-family: 'kufi-arabic';
    border: none; 
    margin: 5px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    display: block;
    margin: 10px auto;outline: none;
    cursor: pointer;
}
@media only screen and (max-width:320px){
    .settings{
        width: 80% !important;
    }
.settings ul li ul li:first-child{
    word-break: break-all;
}
}
@media only screen and (max-width:550px){
    .msg{
        width:98% !important;
    }
    .popup{
        width:90% !important;
    }
}
@media only screen and (min-width:551px) and (max-width:767px){
    .msg{
        width:47%;
    }
}
@media only screen and (min-width:768px) and (max-width:1239px){
    .msg{
        width:31%;
    }
}
@media only screen and (min-width:1440px){
    .msg{
        width:20%;
    }
}